{:modes {:+ #{:editor.html}}
 :snippets [
            {:name "Twig If"
             :key "tw-if"
             :snippet-file "twig/if.snip"
             }
            {:name "Twig forech"
             :key "tw-for"
             :snippet-file "twig/foreach.snip"
             }
            {:name "Twig include"
             :key "tw-inc"
             :snippet "{% include('${1:path}.html.twig') %}$0"
             }

            ]}
